mixin partnership(mods)
  -
    const baseName = 'partnership'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .partnership(class=allMods)&attributes(attributes)
    -for(let i=0; i<8; i++)
      .partnership__item
        img(src='../../images/default.jpg', alt='')
    block
