.about-company {
  display: grid;
  grid-template-columns: 1fr 30%;
  gap: 40px;
  @include media-laptop {
    grid-template-columns: 1fr;
  }
  @include media-tablet {
    gap: 30px;
  }
  &__pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    @include media-laptop {
      order: 1;
    }
    @include media-tablet {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
  &__img {
    position: relative;
    width: 100%;
    min-height: 485px;
    @include media-laptop {
      min-height: 400px;
    }
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgb(22 22 63 / 0.65);
      transition: 0.5s;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include media-hover {
      &::before {
        opacity: 0;
      }
    }
  }
  &__content {
    align-self: center;
  }
  &__ui-h2 {
    &:not(:last-child) {
      margin-bottom: 20px;
      @include media-laptop {
        margin-bottom: 10px;
      }
    }
  }
  &__ui-p1 {
    color: $grey80;
    &:not(:last-child) {
      margin-bottom: 20px;
      @include media-tablet {
        margin-bottom: 15px;
      }
    }
  }
}
