mixin banner(mods)
  -
    const baseName = 'banner'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .banner(class=allMods)&attributes(attributes)
    .swiper
      .swiper-wrapper
        -for(let i=1; i<4; i++)
          .banner__slide.swiper-slide
            .inner.banner__inner
              .banner__content
                +ui-h2('', 'banner, --bold, --decor')
                  span.ui-h2__decor МедиАр !{i}
                +ui-h4('организация и&nbsp;проведение бизнес-мероприятий любого формата.', 'banner')
                +ui-button('Cвязаться с нами', 'banner, --px-xl, --bold')(href='#' onclick=`window.openPopup('#popup-callback'); return false;`)
            .banner__img
              img(src='../../images/banner_img.jpg', alt='')
      +ui-swiper-pagination('banner')
    block
