extends ../../layout/layout

block variables
  -
    const pageName = 'events.html'
    const pageTitle = 'article'

block content
  main.main
    .page-content.page-content--pt-xs
      +section
        .inner
          +events-inner('article')
