mixin gallery(name, mods, itemMods, descr)
  -
    const baseName = 'gallery'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .gallery(class=allMods)&attributes(attributes)
    -for(let i=0; i<6; i++)
      a.gallery__item.scroll-animate(class=itemMods href='/images/default.jpg' data-fancybox=name data-caption=`description ${i}`)
        img.lazyload(data-src='../../images/default.jpg' alt='' src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
    block
