mixin socials(mods)
  -
    const baseName = 'socials'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .socials(class=allMods)&attributes(attributes)
    a.socials__item(href='#')
      +ui-svg('icon_telegram')
    block
