extends ../../layout/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main.main
    .page-content
      .inner
        +ui-h2(pageTitle)
        br
        br
        a(href='main.html') Main
        br
        br
        a(href='events.html') Events
        br
        br
        a(href='events-inner.html') Events inner
        br
        br
        a(href='article.html') Article
        br
        br
        a(href='contacts.html') Contacts
        br
        br
        a(href='about.html') About
        br
        br
        a(href='gallery.html') Gallery
        br
        br
        a(href='education.html') Education
    +cookies
