mixin search(data, mods)
  -
    const baseName = 'search'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .search(class=allMods)&attributes(attributes)
    +ui-input(`search`, data.inputTitle, 'search')(name='search')
    +ui-button('', `search, --py-xs, --bold ${data.buttonMods}`)
      .ui-button__icon
        +ui-svg('icon_search')
      if data.buttonText
        .ui-button__text.text-m-none !{data.buttonText}
    block
