// fonts
$font: 'Gotham Pro', 'Arial', sans-serif;
$fontMr: 'Merriweather', 'Arial', sans-serif;

// colors
$black: #000;
$brown: #d9a643;
$blue: #123e57;
$grey: #f5f5f5;
$grey80: #808080;

// media
$mediaWidthLaptop: 1340px;
$mediaWidthTablet: 767px;
