.filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @include media-tablet {
    grid-template-columns: 1fr;
  }
  &__search {
    grid-column: span 2;
    @include media-tablet {
      grid-column: unset;
    }
  }
}
