extends ../../layout/layout

block variables
  -
    const pageName = 'events.html'
    const pageTitle = 'Мероприятия'

  -
    const filterData = {
      inputTitle: 'Поиск по названию <span class="text-t-none">мероприятия</span>',
      buttonText: 'Найти',
      buttonMods: ', --l-px-xs',
      datepickerTitle: 'Выбрать дату <span class="text-t-none">мероприятия</span>',
    }

block content
  main.main
    .page-content.page-content--pt-xs
      +section
        .inner
          +section-head.text-center
            +ui-h2('', '--bold, --decor')
              span.ui-h2__decor Мероприятия
          +filter(filterData)
          +section('--mt-xxxs')
            +events-grid

      +include-contact-us
