mixin clients(mods)
  -
    const baseName = 'clients'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const clientsItems = [
      'logo_ebbvie.png',
      'logo_lilly.png',
      'logo_pfizer.png',
      'logo_roche.png',
      'logo_novartis.png',
      'logo_bayer.png',
      'logo_yanssen.png',
      'logo_biokad.png',
      'logo_r_farm.png',
    ]

  .clients(class=allMods)&attributes(attributes)
    each item in clientsItems
      .clients__item
        .clients__img
          img(src=`../../images/${item}`, alt='')
    block
