mixin ui-swiper-button(prev, mods)
  -
    const baseName = 'ui-swiper-button'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  if prev === true
    button.ui-swiper-button.ui-swiper-button--prev(class=allMods)&attributes(attributes)
      +ui-svg('swiper_back')
  else
    button.ui-swiper-button.ui-swiper-button--next(class=allMods)&attributes(attributes)
      +ui-svg('swiper_next')

mixin ui-swiper-pagination(mods)
  -
    const baseName = 'ui-swiper-pagination'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-swiper-pagination(class=allMods)&attributes(attributes)
    .swiper-pagination
      block
