mixin form-thank(mods)
  -
    const baseName = 'form-thank'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .form-thank(class=allMods hidden data-success-element='thx')&attributes(attributes)
    +section-head.text-center
      +ui-h2('Спасибо!', 'section-head, --bold')
      +ui-p1('Ваше обращение успешно отправлено')
    block
