extends ../../layout/layout

block variables
  -
    const pageName = 'education.html'
    const pageTitle = 'Обучение'

block content
  main.main
    .page-content
      +section
        .inner
          +text-vnll
            h3
              b Обучение
            h3 Образовательные программы для ревматологов в&nbsp;рамках НМО
            ul
              li Междисциплинарные конференции (терапевты, кардиологи, иммунологи, дерматологи и&nbsp;др.)
              li Конференции, школы для ревматологов с&nbsp;приглашением иностранных спикеров
              li Дискуссионные панели, профессорские форумы
              li Мастер-классы на&nbsp;базе региональных центров
              li i-hospital&nbsp;&mdash; интерактивное обучение ревматологов on-line (курс EULAR и&nbsp;др.)
              li Симуляционное обучение
              li Проведение сертификационных циклов совместно с&nbsp;кафедрами последипломного образования
            h3 Взаимодействие с&nbsp;региональными отделениями АРР
            ul
              li Техническая поддержка и&nbsp;организация проведения экспертных советов главных специалистов регионов
              li Организация на&nbsp;регулярной основе телеконференций с&nbsp;региональными отделениями АРР
              li Мастер-классы с&nbsp;участием главных ревматологов (на&nbsp;сайте www.arr.rheumatolog.ru)
              li МСовместный чат для оптимизации взаимодействия (WhatsApp, Viber, Telegram), e-mail рассылка
            h3 Школа молодого ревматолога
            ul
              li Мероприятия для молодых специалистов по&nbsp;материалам международных конференций и&nbsp;конгрессов
              li Мастер-классы: &laquo;Как лечить?&raquo; с&nbsp;разбором клинических случаев
              li Возможность формирования обучающих видеокурсов для врачей
              li Дискуссионные клубы
              li Проведение конкурсов и&nbsp;грантов при поддержке фармкомпаний
              li Дистанционный и&nbsp;очно-заочный модули для&nbsp;обучения молодых специалистов

      +include-contact-us
